body{
	background-color: #393A66;
	font-family: sans-serif;
}

#container #header{
	background-color: #393A66;
	color: #FFFFFF;
}

#container #header a{
	color: white;
}

#container #header a:visited{
	color: white;
}

#container #content{
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	left: 40%;
	width: calc(50% - 14px);
	height: 100%;
	padding: 7px;
	border-radius: 20px;
}

#content div,p{
	opacity: 1;
	transition: opacity 1s;
}

#content div:first-child{
	margin-top: -10px;
}

#content .invisible{
	opacity: 0 !important;
}

#content #feedback{
	margin-top:20px;
	font-size:20px;
}

#base{
	background-color: #FFFFFF;
	border-radius: 40%;
}

.layer{
	position:absolute;
	left:5%;
	width: 30%;
}